<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>shopping web</title>
    <!-- <link rel="icon" type="image/jpg" href="/project/Daniel/website/images/shopping-cart1.jpg"/> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='shopping_cart.css') }}">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <title>AutoComplete</title> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  
    </script>  
    
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  
    </script>  
    
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
        rel="stylesheet" type="text/css" />  
    <title> {% block title %}Home{% endblock %}</title>

      <style>
        {% block style %}{% endblock %}
                a:link {
              text-decoration: none;
        }

        a:visited {
              text-decoration: none;
        }

        a:hover {
              text-decoration: none;
        }

        a:active {
              text-decoration: none;
        }
        a {
       text-decoration: none;
       color: rgb(70, 70, 70);
        }
        
        ul, li {
          list-style: none;
       }
        
      </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">MBA🏀🤷‍♀️🛒</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
                        <!-- 購物車的按鈕============================================================= -->
                        <a href="/cart" >
                          <div class="d-flex">
                          <button class="btn btn-outline-dark d-flex text-nowrap" type="submit">
                              <!-- 這個車車改class為bi-cart的話 就會變成空車 -->
                              <i class="bi-cart-fill me-1"></i>
                              購物車
                              <span class="badge bg-dark text-white ms-1 rounded-pill my-auto" id="shop_list_count">0</span>
                          </button>
                        </div>
                      </a>
          </div>
        </div>
      </nav>

     <div class="container ">
      <div class="row justify-content-center">
        <div class="col-md-8">
            <!-- Your content goes here -->
            {% block greeting %} <h1>Welcome to shopping cart</h1>{% endblock %}
            <div class="col-12 d-flex">
              <input class="col-md-8 form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search_input"
                id="search_bar_input">
              <button class="btn btn-outline-success " type="submit" id="search_btn" onclick="search_input()">Search</button>
            </div>

            {% block content %}
            <h1>Hello, world!</h1>
            {% endblock %}
            {% block recommendation %}{% endblock %}
        </div>
    </div>
     </div>
     
      
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
     <script>
      $(function () {
        var availableTags = [
              {% for Itemname in Itemnames %}
                      "{{Itemname}}",
              {% endfor %}
          ];
          // console.log(availableTags)
          $("#search_bar_input").autocomplete({
            source: availableTags
          });
          
        } );

  function search_input() {
    console.log("search_input")
    const search_bar_input = $("#search_bar_input").val().trim()
    console.log(search_bar_input)
    console.log(search_bar_input.length > 0)
    if (search_bar_input.length > 0) {


      fetch("/search_input", {
        method: "POST",
        body: JSON.stringify({ search_input: search_bar_input }),
      }).then((response) => response.text()) // Convert the response to text
        .then((html) => {
          // console.log(html);
          // Replace the entire page content with the new HTML
          document.body.innerHTML = html;
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    }
  }
     </script>
  {% block script%}{% endblock %}
</body>
</html>