{% extends "base.html" %}
{% block title %}changed{% endblock %}

{% block greeting %}<h1>Welcome to Search Result</h1>{% endblock %}
{% block content %}
<br>
<h1>Result: </h1>
<h6>{{product[0]}} </h6>
<hr class="my-4">

<!-- <section class="h-100 h-custom" style="background-color: #d2c9ff;">
    <div class="container py-5 h-100" >
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-8"> -->
                  <!-- <div class="p-5"> -->
                    <div class="row justify-content-center mt">
                        <!-- 課程介紹區 -->
                        <div class="col-md-12 p-5 mt-2 mb-2 bg-light rounded-3 mt-4">
                            <div class="container-fluid pt-1 pb-4 card" data-creatorid="" id="eventCard">                   
                    <!-- =============================== -->

                    <div class="row mb-4 d-flex align-items-center">
                        <!-- <div class="col-md-12"> -->
                    
                            <div class="col-md-3 ">
                                <!-- <h6 class="text-muted">Shirt</h6> -->
                                <h6 class="text-black mb-0" >Product Name</h6>
                            </div>
                    
                            <div class="col-md-2">
                                <h6 class="mb-0">Price</h6>
                            </div>
                            <div class="col-md-2 me-2">
                                <h6 class="mb-0" >Quantity</h6>
                            </div>
                            <div class="col-md-5">
                            </div>
<hr class="my-4">

<div class="row mb-4 d-flex justify-content-between align-items-center">
    <!-- <div class="col-md-12"> -->

        <div class="col-md-3 ">
            <!-- <h6 class="text-muted">Shirt</h6> -->
            <h6 class="text-black mb-0" id="item_name">{{product[0]}}</h6>
        </div>

        <div class="col-md-2">
            <h6 class="mb-0" id="item_price">{{product[1]}}</h6>
        </div>
        <div class="col-md-3 me-2">
            <!-- <input type="number" id="points" name="points" step="1" min="1"> -->
            <div class="form-outline"> 
                <!-- style="width: 22rem;" -->
                <input min="1" max="100" type="number" id="item_quantity" class="form-control" />
            </div>
        </div>

        
        <div class="col-md-3">
            <!-- <a href="#!" class="text-muted"><i class="fas fa-times"></i></a> -->
            <button type="button" class="btn btn-success" id="add2Cart" onclick="add2Cart()">Add to Cart</button>
        </div>
    <!-- </div> -->
</div>
                    <!-- =============================== -->
                  <!-- </div> -->
                </div>
              </div>
            </div>
        <!-- </div></div></div></div></section> -->
{% endblock %}

{% block script%}
<script>
    function hi(){
        console.log('siuuuu')
    }
    // console.log('000000000000000000000')
    
    $("#add2Cart").on("click", function (e){
        console.log('siuuuu')
        item_name=$("#item_name").text()
        item_price=$("#item_price").text()
        item_quantity=$("#item_quantity").val()
        console.log(item_name)
        console.log(item_price)
        console.log(item_quantity)
    });

</script>
{% endblock %}




{% block recommendation %}

<div class="container main-content py-5">
        <!-- 精選課程 -->
        <div class="row ">
          <div class="row">
              <div class="col-1"></div>
              <div class="col-auto">
                  <h1>You might also like: </h1>

              </div>
          </div>
          <div id="carouselExampleIndicators" class="carousel carousel-dark carousel-fade slide"
              data-bs-ride="carousel">
              <!-- 往前翻 -->
              <div class="row ">
                  <div class="col-1 my-auto">
                      <button class="" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                          <div class="justify-content-center align-items-center">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <!-- <span class="visually-hidden">Previous</span> -->

                          </div>
                      </button>
                  </div>
                  <div class="col-10">


                      <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                              class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                              aria-label="Slide 2"></button>
                      </div>


                      <div class="carousel-inner" id="card_recommendation_container">
                        {% for i in range(6) %}
                        {% if i%3==0 %}
                            {% if i==0  %}
                                <div class="carousel-item active w-100 object-fit-cover">
                            {% else %}
                                <div class="carousel-item w-100 object-fit-cover">
                            {% endif %}
                            <div id="coursePage{{i+1}}" class="row">
                            
                        {% endif %}
                       
                        <div class="col-4 mb-5 event_card_container card_recommendation_item" data-Itemname="{{relist[i]}}">
                            <div class="card h-100 p-0 mb-0 event_card event_card">
                                <!-- EVENT link-->
                                <!-- <a href="/"> -->
                                    <!-- EVENT image-->
                                    <div class="photo">
                                        <img class="card-img-top event_pic"
                                            src="https://picsum.photos/300/200/?random=10" alt="..." />
                                    </div>
                    
                                    <!-- EVENT details-->
                                    <div class="card-body p-2">
                                        <div class="text-left">
                                            <!-- EVENT title-->
                                            <!-- <div class="event_title"> -->
                                                <h5 class="card-title fw-bolder ">
                                                  <!-- WHITE HANGING HEART T-LIGHT HOLDER -->
                                                  {{relist[i]}}
                                                </h5>                    
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                    
                                    <!-- <div class="card-footer p-2  bg-transparent justify-content-between">
                    
                                        <div class="d-flex flex-row align-items-center event_creater">
                    
                                            <div class="col-8 ms-2 c-details">
                                                <span class="col-2 mb-0  fw-bolder ">
                                                  $
                                                </span>
                                                <span class="col-4 mb-0  fw-bolder text-muted text-truncate">
                                                  4.95
                                                </h6>
                                            </div> 
                                        </div>
                                    </div> -->
                                <!-- </a> -->
                            </div>
                        </div>
                    
                        {% if i%3==2 %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                         

                              </div>
                              <!-- <img src="https://picsum.photos/1920/300/?random=11" class="d-block" alt="..."> -->
                          </div>
                          <!-- 第三頁===================================================================================================================== -->
                          
                     
                  
                  <div class="col-1 my-auto ms-auto">
                      <!-- 往後翻 -->
                      <button class="" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
    
  </div>

{% endblock %}