{% extends "base.html" %}
{% block title %}changed{% endblock %}

{% block greeting %}<h1>Welcome to shopping cart</h1>{% endblock %}
{% block content %}

<br>
<h1>Result</h1>
<hr class="my-4">

<!-- <section class="h-100 h-custom" style="background-color: #d2c9ff;">
    <div class="container py-5 h-100" >
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-8"> -->
<!-- <div class="p-5"> -->
<div class="row justify-content-center mt">
  <!-- 課程介紹區 -->
  <div class="col-md-12 p-5 mt-2 mb-2 bg-light rounded-3 mt-4">
    <div class="container-fluid pt-1 pb-4 card" data-creatorid="" id="eventCard">
      <!-- =============================== -->

      <div class="row mb-4 d-flex align-items-center">
        <!-- <div class="col-md-12"> -->

        <div class="col-md-3 ">
          <!-- <h6 class="text-muted">Shirt</h6> -->
          <h6 class="text-black mb-0">Product Name</h6>
        </div>

        <div class="col-md-2">
          <h6 class="mb-0">Price</h6>
        </div>
        <div class="col-md-2 me-2">
          <h6 class="mb-0">Quantity</h6>
        </div>
        <div class="col-md-5">
        </div>
        <hr class="my-4">
        <ul class="cart_item_list">
          {% for item in cart%}
          <li class="" data_key="{{item.key}}">
            <div class="row mb-4 d-flex justify-content-between align-items-center">
              <!-- <div class="col-md-12"> -->

              <div class="col-md-3 ">
                <!-- <h6 class="text-muted">Shirt</h6> -->
                <h6 class="text-black mb-0 item_name">{{item.Itemname}}</h6>
              </div>

              <div class="col-md-2">
                <h6 class="mb-0 item_price">{{item.Price}}</h6>
              </div>
              <div class="col-md-3 me-2">
                <!-- <input type="number" id="points" name="points" step="1" min="1"> -->
                <div class="form-outline">
                  <!-- style="width: 22rem;" -->
                  <input min="1" max="100" type="number" value="{{item.Quantity}}" class="form-control item_quantity" />
                </div>
              </div>


              <div class="col-md-3">
                <button type="button" class="btn btn-success me-1" id="add2Cart" onclick="add2Cart()">update</button>
                <!-- <button type="button" class="text-muted btn-class" id="item_delete"><i class="fas fa-times "></i></button> -->
                <button type="button" class="btn-close item_delete" aria-label="Close"></button>
              </div>
              <!-- </div> -->
            </div>
            <hr class="my-4">
          </li>
          {% endfor %}
        </ul>
        <!-- =============================== -->
        <!-- </div> -->
        <!-- <button type="button" class="btn-close " aria-label="Close"></button> -->
      </div>
    </div>
  </div>
</div>
<!-- </div></div></div></div></section> -->
<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand ms-2" href="#"> 🛒</a>
  <!-- <div class="navbar-brand">Customer ID (not required)</div> -->
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span> -->
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto me-3">
      <li class="nav-item active me-3">
        <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
        <div class="col-12">
          <div class="nav-item" style="color: white;">CustomerID (not required)</div>
          <input type="number" min="0" max="999999" class="form-control item_quantity" id="cart_customerID" />
        </div>

        <!-- </div> -->
      </li>

      <!-- <a class="nav-link" href="#">Link</a> -->
      <li class="nav-item me-3">
        <div class="nav-item" style="color: white;">Country</div>
        <select class="form-select" aria-label="Default select example" id="cart_country">
          <option selected disabled>Select your Country</option>
          {% for country in countries %}
          <option value="{{country}}">{{country}}</option>
          {% endfor %}
        </select>

      </li>
      </li>
      <!-- <li class="nav-item me-3">
                  <span class="" style="color: white;">Country:</span>
                  <input type="text" class="nav-item form-control" >
                </li> -->
      <li class="nav-item me-3" style="color: white;">
        <!-- <a class="nav-link disabled" href="#">Disabled</a> -->

        <!-- <div>Total:</div>
                  <span>20</span> -->
        <div class="nav-item fw-bolder" style="color: white;">Total:</div>
        <!-- <span>50</span> -->
        <input class="form-control" type="number" placeholder="Readonly input here…" value="{{cart_totalprice_redis}}"
          id="cart_total_price" readonly>
      </li>
      <li class="nav-item">
      </li>

    </ul>
    <div class="row">
      <button type="button" class="btn btn-success" onclick="confirm_shoplist()">Confirm</button>
    </div>

  </div>
</nav>
{% endblock %}


{% block script%}
<script>
  function confirm_shoplist() {
    console.log('siuuuu')
    cart_customerID = $("#cart_customerID").val()
    cart_country = $("#cart_country").val()
    cart_total_price = $("#cart_total_price").val()
    console.log(cart_customerID, cart_country, cart_total_price)
    if (cart_country !== 'Select your Country' && cart_total_price !== '' && cart_total_price !== 0) {
      console.log(cart_total_price !== '')
      let check = confirm("Confirm to confirm");
      console.log(check);
      if (check) {
        fetch("/cart/confirm", {
          method: "POST",
          body: JSON.stringify({
            cart_customerID: cart_customerID,
            cart_country: cart_country,
            cart_total_price: cart_total_price
          }),
        }).then((response) => response.text()) // Convert the response to text
          .then((responseText) => {
            console.log(responseText);
            // Replace the entire page content with the new HTML
            // document.body.innerHTML = html;
            // document.innerHTML
            $("ul.cart_item_list").children("li").fadeOut(1000, function () {
              $(this).remove();
              location.reload();
            });

          }).catch((error) => {
            console.error("Error:", error);
          });
      }
    }
  }

  function hi() {
    console.log('siuuuu')
  }
  document.addEventListener("DOMContentLoaded", function () {
    // Code to be executed when the DOM is fully loaded.
    // This ensures that the page structure is ready for manipulation.

    $("#add2Cart").on("click", function (e) {
      console.log('siuuuu')
      item_name = $("#item_name").text()
      item_price = $("#item_price").text()
      item_quantity = $("#item_quantity").val()
      console.log(item_name)
      console.log(item_price)
      console.log(item_quantity)
    });

    $(document).on("click", "button.item_delete", function (e) {
      console.log(this)
      key = $(this).closest('li').attr('data_key')
      console.log(key)
      let check = confirm("Confirm to delete");
      let that = this;
      console.log(check);
      if (check) {
        fetch("/cart/delete", {
          method: "POST",
          body: JSON.stringify({ key: key }),
        }).then((response) => response.text()) // Convert the response to text
          .then((responseText) => {
            console.log(responseText);
            // Replace the entire page content with the new HTML
            // document.body.innerHTML = html;
            // document.innerHTML
            if (responseText === '1') {
              $(that).closest("li").animate({
                "opacity": 0
              }, 1000, "swing", function () {
                $(this).remove();
                location.reload()
              });
            }
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }




    });

  });

</script>
{% endblock %}